@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --Red: hsl(4, 100%, 67%);
    --Red2: hsla(4, 100%, 67%, 0.538);
    --Blue800: hsl(234, 29%, 20%);
    --Blue700: hsl(235, 18%, 26%);
    --Grey: hsl(0, 0%, 58%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    background-color: var(--Blue700);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
}

.container {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    flex-direction: row;
    max-width: 750px;
    width: 100%;
    height: 500px;
    border-radius: 30px;
    background-color: var(--White);
    padding: 18px;
    /* margin: 0 auto; */
}


.left {
    padding: 43px 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}


.left h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: var(--Blue800);
}


.product-list {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list {
    display: flex;
    align-items: center;
    direction: ltr;
    flex-direction: row;
    gap: 10px;
}

.icon {
    font-weight: 700;
    font-size: 12px;
}


.icon img {
    width: 15px;
    height: 15px;
}


.product {
    font-weight: 500;
    font-size: 12px;
}


.email-box {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 15px;
}

label[for="email"] {
    color: var(--Blue800);
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 2px;
}

#email {
    border-style: solid;
    padding: 12px;
    border-radius: 8px;
    border-color: lightgray;
    color: rgb(0, 0, 0);
    cursor: pointer;
}


.email-box button {
    border-style: solid;
    padding: 15px 20px;
    border-radius: 8px;
    color: var(--White);
    background-color: var(--Blue800);
    cursor: pointer;
}

.email-box button:hover {
    background: #F76868;
    background: linear-gradient(90deg, rgba(247, 104, 104, 1) 42%, rgba(204, 96, 18, 1) 100%);
    color: var(--White);
    box-shadow: 1px 27px 49px 1px rgba(249, 82, 39, 0.26);
    border-color: var(--White);
}

.right {
    width: 50%;
    direction: rtl;
}

.right img {
    border-radius: 10px;
    height: 100%;
}





/* Success message start */

.success-message {
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    height: 400px;
    overflow: hidden;
    justify-content: space-between;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--White);
}

.success-icon img {
    width: 50px;
    height: 50px;
}

.success-message h1 {
    font-size: 40px;
    color: var(--Blue800);
    font-weight: 900;
}

.success-message p {
    color: var(--Blue800);
}

.success-message button {
    border-style: solid;
    padding: 15px 20px;
    border-radius: 8px;
    color: var(--White);
    background-color: var(--Blue800);
    cursor: pointer;
}

.success-message button:hover {
    background: #F76868;
    background: linear-gradient(90deg, rgba(247, 104, 104, 1) 42%, rgba(204, 96, 18, 1) 100%);
    color: var(--White);
    box-shadow: 1px 27px 49px 1px rgba(249, 82, 39, 0.26);
    border-color: var(--White);
}


.success-hidden {
    display: none !important;
}

/* Success message end */






/* error-states */
.label-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#email-error {
    color: var(--Red);
    font-size: 0.9rem;
    margin-bottom: 10px;
    display: block;
}

#email.invalid {
    background-color: var(--Red2) !important;
    color: var(--Red) !important;
    border: 1px solid var(--Red) !important;
}







/* Mobile Design Responsive */

@media screen and (max-width:576px) {
    body {
        font-size: 16px;
    }

    .container {
        margin: 0 auto;
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
        padding: 0;
        border-radius: 0;
    }

    .right {
        width: 100%;
    }

    .right img {
        content: url('./assets/images/illustration-sign-up-mobile.svg');
        max-width: 100%;
        height: auto;
        display: block;
        border-radius: 0 0 10px 10px;
    }

    .left {
        padding: 15px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .email-box {
        gap: 20px;
        margin-bottom: 20px;
    }

    .left h1 {
        font-size: 30px;
    }

}


/* Mobile Success Responsive */

@media screen and (max-width:576px) {
    body {
        height: 100%;
    }

    .container {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }

    .success-message {
        margin: 0;
        padding: 35px 30px;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 0;
        background-color: var(--White);
        box-shadow: none;
    }

    .success-icon {
        margin-top: 65px;
        margin-bottom: 15px;
    }

    .success-message button {
        margin-top: 300px;
    }

    .success-message h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }
}